{% load static %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Add Car</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Add Car</h2>
        <form method="post">
            {% csrf_token %}

            <label for="id_license_plate">License Plate:</label>
            {{ form.license_plate }}
            <label for="id_brand">Brand:</label>
            {{ form.brand }}
            <label for="id_year">Year:</label>
            {{ form.year }}
            <label for="id_color">Color:</label>
            {{ form.color }}
            <label for="id_condition">Condition:</label>
            {{ form.condition }}
            <label for="id_owner">Owner:</label>
            {{ form.owner }}
            <div class="button-container">
                <a href="{% url 'add-owner' %}"><button type="button">Add new owner</button></a>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>
