 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
 }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.content {
    width: 80%;
}

.title-div {
    margin-bottom: 20px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    width: auto;
}

th {
    background-color: #d9d8d7;
}

th:nth-child(1), td:nth-child(1) {
    width: 15%;
}

th:nth-child(6), td:nth-child(6) {
    width: 25%;
}


.button-div {
    margin-top: 25px;
    text-align: start;
}

button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.add-button {
    font-size: 18px;
    padding: 10px 30px;
    background-color: #4CAF50;
}

.add-button:hover {
    background-color: #45a049;
}

.edit-button, .delete-button {
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
}


.edit-button {
    background-color: #22a6f2;
}

.edit-button:hover {
    background-color: #239ade;
}

.delete-button {
    background-color: #f2071b;
}

.delete-button:hover {
    background-color: #d10f1f;
}

.sort-select {
        margin-top: 20px;
        padding: 5px;
        font-size: 16px;
    }


